 .navbar{
    padding: 30px;
    padding-inline: 80px;
    display: flex;
    justify-content: space-between;
    
    
}
.link ul{
    display: flex;
    gap: 20px;
}
.link ul li{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav_icon_wrapper{
    display: flex;
}
.nav_icon{
    font-size: 34px;
    margin-left: 35px;
}
.nav_cart{
    display: flex;
    position: relative;
    cursor: pointer;
}
.nav_cart_amount{
    background-color: red;
    position: absolute;
    right:-8px;
    font-size: 12px;
    height: 20px;
    width: 20px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.navbar.active{
    padding: 20px;
    position: fixed;
    justify-content: space-around;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
    transition: 0.6s;
}
.dropdown{
    border-width: 0px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

}
.nav_user {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20%;
  }
  .nav_user span{
    font-family: roboto;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  
    